source "https://rubygems.org"

gem "fluentd"
{{if ls "/gem/plugins"}}{{range getvs "/gem/plugins/*"}}
gem "{{.}}"{{end}}{{end}}
{{if ls "/fluent/plugins"}}{{range getvs "/fluent/plugins/*"}}
gem "fluent-plugin-{{.}}"{{end}}{{end}}
